body{
  background: rgb(94,129,172);
  background: linear-gradient(90deg, rgba(94,129,172,1) 7%, rgba(48,85,130,1) 51%, rgba(23,16,68,1) 96%);
}
.w-75{
  margin-top: 100px;
  height: auto;
  border-radius: 20px;
}
.w-75 h3{
  margin-left: auto;
  margin-top: 30px;
  display: inline-block;
  margin-left: 320px;
  
}
.form-group{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-group button, input{
  width: 60%;
  margin-top: 30px;
 
}
.form-group button{
  margin-bottom: 30px;
}
.alert{
  width: 35%;
  height: 10%;
  display: block;
  margin-left: 30%;
}

.controlGastos{
  display: flex;
  flex-direction: row;
  width: 70%;
  height: auto;
  margin: 80px auto;
  border-radius: 20px;
  background-color: white;
}
.controlGastos div {
  width: 50%;
  height: 90%;
}

.gastos form input{
  width: 70%;
  margin-left: 0px;
}

.liGastos{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}